@import url('https://fonts.googleapis.com/css2? family= Oleo+Script+Swash+Caps & family= Permanent+Marker & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Oleo+Script+Swash+Caps&family=Permanent+Marker&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}
body{
    background: linear-gradient(40.15deg,  #d1785c 45.62%, #5a3036 89.61%);
    
}
p.copy{
    font-family: 'Oleo Script Swash Caps', cursive;
}
hr{
    height: 5px;
    width: 99.8%;
    border-radius: 15px;
}
header{
    margin-top: 15px;
    margin-block: 15px;
}
.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
p.titulo{
    font: normal 20pt Arial;
    margin-top: 2%;
}
p.texto{
    font: normal 12pt Arial;
    margin-top: 2%;
}
a.linck{
    color: rgb(77, 76, 129);
    font: normal 20pt;
    font-family: 'Koulen', cursive;
}
#titulo {
    width: 250px;
    margin: 0 auto;
    font-size: xx-large;
}
#subtitulo{
    width: 200px;
    margin: 0 auto
}
p.linck1{
    color: rgb(10, 100, 236);
    font: normal 35pt Arial;
}
footer{
    margin-top: 5%;
    margin-block: 5%;
    margin-left: 20px;
}
section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    margin: 40px 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
    margin-left: 20%;
    margin-right: 20%;
    
}
main{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 1250px;
    margin: 40px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}
button{
    background-color: rgb(91, 116, 192);
    border-radius: 35px;
    font-size: auto;
    text-decoration: none;
    text-align: center;
    padding: 2px 2px;
    margin-bottom: auto;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    margin-top: 5px;
    margin-block: 5px;
    margin-left: 5%;
}
a{
    color: rgb(247, 245, 242);
}
a.ancora{
    color: black;
}
ul{
    margin-left: 2%;
    font: normal 12pt Arial;
}
img{
    width: 80px;
    height: 80px;
    border-radius: 80%;
}
ol{
    margin-top: 2%;
    margin-left: 2%;
    font: normal 12pt Arial;
}
.botao{
    background-color: rgb(138, 91, 192);
    border-radius: 35px;
    font-size: auto;
    text-decoration: none;
    text-align: center;
    padding: 2px 2px;
    margin-bottom: auto;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    margin-top: 3%;
    margin-block: 3%;
    margin-left: 5%;
}

fieldset{
    border: none;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    }
fieldset.grupo .campo {
    float: left;
    margin-right: 1em;
    border-width: medium;
}
#div{
    display: inline-block;
    /*padding-left: 45%;*/
}
.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea{
    padding: 0.2em;
    border: 1px solid;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    margin-top: 2%;
    margin-block: 2%;
    align-items: center;
}
.campo{
    align-items: center;
}
/*#experiencia{
    width: 100px;
    height: 100px;
}*/
form{
    padding: 45px;
}
table.rodape{
    display: flex;
    flex-direction: row;
    height: 200px;
    justify-content: first baseline;
}
td.rlinck{
    width: 500px;
}